<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="Basic" label="COM_EXIFWORKER_PARAM_BASIC_LABEL"
		description="COM_EXIFWORKER_PARAM_BASIC_LABEL_DESC">
		<field name="allExif" type="radio" label="COM_EXIFWORKER_PARAM_ALLEXIF_LABEL"
			description="COM_EXIFWORKER_PARAM_ALLEXIF_LABEL_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="maps" type="radio" label="COM_EXIFWORKER_PARAM_MAPS_LABEL"
			description="COM_EXIFWORKER_PARAM_MAPS_LABEL_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<!-- <fieldset name="Advanced" label="Advanced" description="Advanced Label"> 
		<field name="maps" type="radio" label="COM_EXIFWORKER_PARAM_MAPS_LABEL" description="COM_EXIFWORKER_PARAM_MAPS_LABEL_DESC" 
		default="1"> <option value="1">JYES</option> <option value="0">JNO</option> 
		</field> </fieldset> -->
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox" validate="rules" filter="rules" component="com_exifworker"
			section="component" />
	</fieldset>
</config>